body {
    font-family: Roboto;
  }
  
  .grey {
    color: #757575;
  }
  .white {
    color: #ffffff;
  }
  a {
    text-decoration: none;
    color: #212121;
  }
  .blue {
    color: #2196f3;
  }
  .black {
    color: #000000;
  }
  .order {
    background-color: #2196f3;
  }
  .font26 {
    font-size: 26px;
  }
  .font44 {
    font-size: 44px;
  }
  .font14 {
    font-size: 14px;
  }
  .font36 {
    font-size: 36px;
  }
  .font16 {
    font-size: 16px;
  }
  .font18 {
    font-size: 18px;
  }
  .link:hover {
    color: #2196f3;
  }
  .item {
    width: 370px;
  }
  .uppercase {
    text-transform: uppercase;
  }
  footer {
    background-color: #2f303a;
  }
  .normal {
    font-style: normal;
  }
  .white06 {
    color: rgba(255, 255, 255, 0.6);
  }
  .darkgrey {
    color: #757575;
  }
  .activecolore {
    color: #2196f3;
  }
  .bold {
    font-weight: 500;
  }
  .dark {
    color: #212121;
  }
  .logo {
    font-family: Raleway;
  }